[Unit]
Description=Adalight MQTT Service
After=multi-user.target

[Service]
Type=exec
ExecStart=/home/pi/git/Adalight-OpenCV/myenv/bin/python /home/pi/git/Adalight-OpenCV/MQTTApp.py

[Install]
WantedBy=multi-user.target