[Unit]
Description=Adalight MQTT Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash -c "source ~/myenv/bin/activate && python /home/pi/git/Adalight-OpenCV/MQTTApp.py" &> /home/pi/git/Adalight-OpenCV/service.log

[Install]
WantedBy=multi-user.target